@media (min-width:1200px) {
    html, body {
        font-size: 28px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    html, body {
        font-size: 24px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    html, body {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    html, body {
        font-size: 16px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    color: #666;
}

h5, ul, ol {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.clrarfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.auto-img {
    display: block;
}

/* ↑ 默认样式 */

html, body {
    overflow-y: auto;
    border-radius: .3rem;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

html, body, a {
    cursor: url("../images/Arrow.cur"), auto;
}

.content {
    width: 99.4%;
    height: 99.4%;
    margin: .3%;
    box-shadow: inset 0 0 1rem #ccc;
    padding: .3rem;
    border-radius: .3rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f3f3f3, lightsteelblue);
    overflow: hidden;
}

/* 导航start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    box-sizing: border-box;
    position: fixed;
    width: 99%;
    top: 0;
    left: .5%;
    box-sizing: border-box;
    z-index: 1;
}

nav a, nav a:hover {
    text-decoration: none;
}

nav .list-nav {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .list-nav .v-list li {
    background-color: rgba(0, 0, 0, .3);
}

nav .title {
    display: block;
    position: relative;
    cursor: pointer;
    color: lightsteelblue;
    padding: .2rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
}

nav .title .v-title-item {
    position: absolute;
    padding: .2rem 0;
    top: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    font-size: .8rem;
}

nav .title .v-title-item li {
    border-radius: .2rem;
    background-color: #fff;
    box-shadow: 1px 1px 3px #ccc;
    margin: .2rem;
    padding: 0 .2rem;
    opacity: 0;
    transform: translateX(10rem);
    transition: transform .5s ease-out, opacity .3s ease-out;
}

nav .title .v-title-item li:hover {
    background-color: #eee;
    color: steelblue;
    transition: background-color .5s ease-out, color .5s ease-out;
}

nav .title:hover .v-title-item li {
    transform: none;
    opacity: 1;
    transition: transform .5s ease-out, opacity .3s ease-out;
}

nav .title:hover .v-title-item li:nth-child(1) {
    transition-delay: 200ms;
}

nav .title:hover .v-title-item li:nth-child(2) {
    transition-delay: 400ms;
}

nav .title:hover .v-title-item li:nth-child(3) {
    transition-delay: 600ms;
}

nav .title:hover .v-title-item li:nth-child(4) {
    transition-delay: 800ms;
}

nav .title:hover .v-title-item li:nth-child(5) {
    transition-delay: 1s;
}

nav .title:hover .v-title-item li:nth-child(6) {
    transition-delay: 1.2s;
}

nav .title .v-title-item li {
    line-height: 1.5;
}

nav .list-nav .list-item {
    margin-right: .3rem;
    padding: 0 .2rem;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: .2rem;
}

.list-nav .list-item {
    color: lightsteelblue;
}

.list-nav .list-item:hover {
    color: steelblue;
    transform: scale(1.1);
    transition: transform .3s ease-out;
}

/* 导航end */

main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    position: relative;
    border-radius: .3rem;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main .item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: .5rem 0;
    background-color: rgba(255, 255, 255, .3);
    border-radius: .3rem;
    box-shadow: inset 0 0 1rem #fff;
    margin-bottom: .4rem;
}

main .item:last-of-type {
    margin-bottom: 0;
}

main .item .v-title {
    margin: .5rem 0;
    width: 100%;
    text-align: center;
    color: lightsteelblue;
    text-shadow: 1px 1px 1px steelblue;
}

main .item .v-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: .5rem;
    box-sizing: border-box;
}
main .item .v-item .text{
    font-size: .8rem;
}

.item .v-item .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item .v-item .img-box img {
    border-radius: .3rem;
}

#item1 .v-item .img-box img {
    width: 15rem;
    height: 15rem;
}

#item1 .v-item .img-box:hover img {
    box-shadow: 1px 1px 8px 1px #ccc;
    transform: scale(1.05);
    transition: box-shadow .3s ease-in-out,transform .3s ease-in-out;
}

#item2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

#item2 .img-box {
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
}

#item2 .img-box img {
    border-radius: 1rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: .8;
    transition: transform .5s ease-in-out, opacity .3s ease-out;
    box-shadow: 1px 1px 8px #999;
}

#item2 .img-box:hover a:nth-child(9) img {
    transform: translate(-17rem);
}

#item2 .img-box:hover a:nth-child(8) img {
    transform: translate(-12rem);
}

#item2 .img-box:hover a:nth-child(7) img {
    transform: translate(-7rem);
}

#item2 .img-box:hover a:nth-child(6) img {
    transform: translate(-2rem);
}

#item2 .img-box:hover a:nth-child(5) img {
    transform: translate(3rem);
}

#item2 .img-box:hover a:nth-child(4) img {
    transform: translate(8rem);
}

#item2 .img-box:hover a:nth-child(3) img {
    transform: translate(13rem);
}

#item2 .img-box:hover a:nth-child(2) img {
    transform: translate(18rem);
}
#item2 .img-box:hover a:nth-child(1) img {
    transform: translate(23rem);
}

#item2 .img-box a img:hover {
    z-index: 1;
    opacity: 1;
}

#item3 .v-item .img-box:hover {
    animation: item3-animation .5s linear;
}

@keyframes item3-animation {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0);
    }
}

#item4 .v-item .img-box {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

#item4 .v-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 0%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0;
    transition: width .5s linear, opacity .5s linear;
}

#item4 .v-item:hover .mask {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: width .5s linear, opacity .5s linear;
}

#item4 .v-item .mask .mask-img {
    width: 100%;
    display: hidden;
    transform: translateY(-5rem);
    transition: transform .5s linear;
}

#item4 .v-item:hover .mask .mask-img {
    display: block;
    transform: translateY(0);
    transition: transform .5s linear;
    transition-delay: .3s;
    -moz-transition-delay: .3s;
    /* Firefox 4 */
    -webkit-transition-delay: .3s;
    /* Safari 和 Chrome */
    -o-transition-delay: .3s;
}

.goTop {
    position: fixed;
    bottom: 5%;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    box-shadow: 1px 1px .5rem #ccc;
}

.goTop .top-icon {
    height: 100%;
}

.v-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.v-mask img{
    width: 10rem;
    height: 10rem;
}